<html>
<head>
    <title>Sign up to my resti api !</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/sign_up.js"></script>
</head>
<body>
        <h1 id="control">Please enter a password you wish to have and the stores you want access to !</h1>
        <h1 id="control">Enter your password below:</h1>
            <div class="fb-text form-group field-text">
                <label for="text" class="password">Password:</label>
                <input type="password">
            </div><div class=""><h1 >Pick the stores you would like below:</h1></div>
            <div class="fb-checkbox-group form-group field-checkbox-group-1537724763887">
                <label for="checkbox-group-1537724763887" class="fb-checkbox-group-label">Checkbox Group</label>
                <div class="checkbox-group">
                </div>
            </div>
            <button id="send" >Done !</button>
</body>
</html>